<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-utilities.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Slick/slick.css" rel="stylesheet" />
    <link href="~/Content/Slick/slick-theme.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.6.0.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Scripts/jquery-migrate-3.3.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>


    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/Slick/slick.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            @Html.ActionLink("ReservacionHotelera", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav3">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav3" name="navbarNav3">
                <ul class="nav navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link " })</li>
                    <li class="nav-item">@Html.ActionLink("Galeria Fotográfica", "Galeria", "Home", null, new { @class = "nav-link " })</li>
                    <li class="nav-item">@Html.ActionLink("Acerca de", "About", "Home", null, new { @class = "nav-link " })</li>
                    <li class="nav-item">@Html.ActionLink("Contacto", "Contact", "Home", null, new { @class = "nav-link " })</li>
                    @if (Session["ClienteId"] != null)
                    {
                        <li class="nav-item ">@Html.ActionLink("Salir", "Logout", "Home", null, new { @class = "nav-link " })</li>
                    }
                </ul>

            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Reservaci&oacute;n Hotelera - Guatemala, C.A.</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)


</body>
</html>
